body {
  background-color: #eaeaea;
}

* {
  font-family: helvetica, sans-serif;
}

a {
  color: black;
}

.section--top {
  height: 100vh;
}

.img--logo {
  width: 100vw;
  position: absolute;
}

.img--dxr-zone {
  top: 0;
  -webkit-mask: linear-gradient(#000000, transparent);
}

.img--digital-engine {
  bottom: 0;
  -webkit-mask: linear-gradient(transparent, #000000);
}

.gallery__item {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.gallery__img {
  width: 100%;
}

.contact__column {
  width: 50%;
}

.contact__inner {
  display: flex;
}

.section--about {
  padding: 40px 20px 0px 20px;
}

.border {
  border-top: 1px solid #000000;
}

.about__text {
  padding-bottom: 40px;
}

.section--contact {
  padding: 0px 20px 0px 20px;
}
